.fw400 {
  font-weight: 400;
}
.mt4 {
  margin-top: 4px;
}
.mt8 {
  margin-top: 8px;
}
.mt12 {
  margin-top: 12px;
}
.mt16 {
  margin-top: 16px;
}
.mt20 {
  margin-top: 20px;
}
.mt24 {
  margin-top: 24px;
}
.mt28 {
  margin-top: 28px;
}
.mt32 {
  margin-top: 32px;
}
.mt36 {
  margin-top: 36px;
}
.mt40 {
  margin-top: 40px;
}
.mt44 {
  margin-top: 44px;
}
.mt48 {
  margin-top: 48px;
}

.mb4 {
  margin-bottom: 4px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb28 {
  margin-bottom: 28px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb36 {
  margin-bottom: 36px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb44 {
  margin-bottom: 44px;
}
.mb48 {
  margin-bottom: 48px;
}
.ml4 {
  margin-left: 4px;
}
.ml8 {
  margin-left: 8px;
}
.ml12 {
  margin-left: 12px;
}
.ml16 {
  margin-left: 16px;
}
.ml20 {
  margin-left: 20px;
}
.ml24 {
  margin-left: 24px;
}
.ml28 {
  margin-left: 28px;
}
.ml32 {
  margin-left: 32px;
}
.ml36 {
  margin-left: 36px;
}
.ml40 {
  margin-left: 40px;
}
.ml44 {
  margin-left: 44px;
}
.ml48 {
  margin-left: 48px;
}
.mr4 {
  margin-right: 4px;
}
.mr8 {
  margin-right: 8px;
}
.mr12 {
  margin-right: 12px;
}
.mr16 {
  margin-right: 16px;
}
.mr20 {
  margin-right: 20px;
}
.mr24 {
  margin-right: 24px;
}
.mr28 {
  margin-right: 28px;
}
.mr32 {
  margin-right: 32px;
}
.mr36 {
  margin-right: 36px;
}
.mr40 {
  margin-right: 40px;
}
.mr44 {
  margin-right: 44px;
}
.mr48 {
  margin-right: 48px;
}

// ------ 内边距
.pt4 {
  padding-top: 4px;
}
.pt8 {
  padding-top: 8px;
}
.pt12 {
  padding-top: 12px;
}
.pt16 {
  padding-top: 16px;
}
.pt20 {
  padding-top: 20px;
}
.pt24 {
  padding-top: 24px;
}
.pt28 {
  padding-top: 28px;
}
.pt32 {
  padding-top: 32px;
}
.pt36 {
  padding-top: 36px;
}
.pt40 {
  padding-top: 40px;
}
.pt44 {
  padding-top: 44px;
}
.pt48 {
  padding-top: 48px;
}

.pb4 {
  padding-bottom: 4px;
}
.pb8 {
  padding-bottom: 8px;
}
.pb12 {
  padding-bottom: 12px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb24 {
  padding-bottom: 24px;
}
.pb28 {
  padding-bottom: 28px;
}
.pb32 {
  padding-bottom: 32px;
}
.pb36 {
  padding-bottom: 36px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb44 {
  padding-bottom: 44px;
}
.pb48 {
  padding-bottom: 48px;
}
.pl4 {
  padding-left: 4px;
}
.pl8 {
  padding-left: 8px;
}
.pl12 {
  padding-left: 12px;
}
.pl16 {
  padding-left: 16px;
}
.pl20 {
  padding-left: 20px;
}
.pl24 {
  padding-left: 24px;
}
.pl28 {
  padding-left: 28px;
}
.pl32 {
  padding-left: 32px;
}
.pl36 {
  padding-left: 36px;
}
.pl40 {
  padding-left: 40px;
}
.pl44 {
  padding-left: 44px;
}
.pl48 {
  padding-left: 48px;
}
.pr4 {
  padding-right: 4px;
}
.pr8 {
  padding-right: 8px;
}
.pr12 {
  padding-right: 12px;
}
.pr16 {
  padding-right: 16px;
}
.pr20 {
  padding-right: 20px;
}
.pr24 {
  padding-right: 24px;
}
.pr28 {
  padding-right: 28px;
}
.pr32 {
  padding-right: 32px;
}
.pr36 {
  padding-right: 36px;
}
.pr40 {
  padding-right: 40px;
}
.pr44 {
  padding-right: 44px;
}
.pr48 {
  padding-right: 48px;
}

.ft12 {
  font-size: 12px;
}
.ft14 {
  font-size: 14px;
}
.ft16 {
  font-size: 16px;
}
.ft18 {
  font-size: 18px;
}
.ft20 {
  font-size: 20px;
}
.ft22 {
  font-size: 22px;
}
.ft24 {
  font-size: 24px;
}
.ft26 {
  font-size: 26px;
}
.ft28 {
  font-size: 28px;
}
.ft30 {
  font-size: 30px;
}
.ft32 {
  font-size: 32px;
}
.ft34 {
  font-size: 34px;
}
.ft36 {
  font-size: 36px;
}
.ft38 {
  font-size: 38px;
}
.ft40 {
  font-size: 40px;
}
