@use 'element-plus/theme-chalk/src/index.scss' as *;

.el-overlay {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.1);
}
.aside-menu {
  // .el-menu-item.is-active {
  //   background-color: var(--el-color-primary) !important;
  // }
  .el-menu-item {
    // color: #a8abb2 !important;
  }
  .el-sub-menu.is-active {
    .el-sub-menu__title {
      background-color: #ecf5ff !important;
      color: var(--el-color-primary) !important;
    }
  }
}
.aside-menu.el-menu {
  border-right: none;
}

// 表格页面公共样式
.table_wrap {
  width: 99%;
  ul {
    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  // 表格
  .el-table {
    width: 100%;
  }

  .el-dropdown-link {
    position: relative;
    top: 4.5px;
    margin-left: 12px;
    font-weight: 500;
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
  }
}
