.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.relative {
  position: relative;
}
.z-top {
  z-index: 9999;
}
.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.b {
  border: 1px solid #e6e6e6;
}

.bb {
  border-bottom: 1px solid #e6e6e6;
}

.bl {
  border-left: 1px solid #e6e6e6;
}

.br {
  border-right: 1px solid #e6e6e6;
}

.bt {
  border-top: 1px solid #e6e6e6;
}
.circle_red {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d02c36;
  margin-bottom: 2px;
  margin-right: 6px;
}
.circle_blue {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #3e7bfa;
  margin-bottom: 2px;
  margin-right: 6px;
}
.circle_yellow {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f7c720;
  margin-bottom: 2px;
  margin-right: 6px;
}
.circle_green {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #06c270;
  margin-bottom: 2px;
  margin-right: 6px;
}
